all-projects.iml
buildNumber.properties
dependency-reduced-pom.xml
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.idea/
logs/
reports/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
*.hprof
report/
*.h5
./*.json
*.zip
*.gz
*.pem
*.json
*.ppk
build.log
