[submodule "mindseye/mindseye-core"]
	path = mindseye/mindseye-core
	url = https://github.com/SimiaCryptus/mindseye-core.git
[submodule "mindseye/mindseye-java"]
	path = mindseye/mindseye-java
	url = https://github.com/SimiaCryptus/mindseye-java.git
[submodule "mindseye/mindseye-cudnn"]
	path = mindseye/mindseye-cudnn
	url = https://github.com/SimiaCryptus/mindseye-cudnn.git
[submodule "mindseye/mindseye-test"]
	path = mindseye/mindseye-test
	url = https://github.com/SimiaCryptus/mindseye-test.git
[submodule "mindseye/mindseye-tensorflow"]
	path = mindseye/mindseye-tensorflow
	url = https://github.com/SimiaCryptus/mindseye-tensorflow.git
[submodule "mindseye/mindseye-aparapi"]
	path = mindseye/mindseye-aparapi
	url = https://github.com/SimiaCryptus/mindseye-aparapi.git
[submodule "util/aws-utilities"]
	path = util/aws-utilities
	url = https://github.com/SimiaCryptus/aws-utilities.git
[submodule "deepartist/examples.deepartist.org"]
	path = deepartist/examples.deepartist.org
	url = https://github.com/SimiaCryptus/examples.deepartist.org.git
[submodule "deepartist/deepartist.org"]
	path = deepartist/deepartist.org
	url = https://github.com/SimiaCryptus/deepartist.org.git
[submodule "mvn-parents"]
	path = mvn-parents
	url = https://github.com/SimiaCryptus/mvn-parents.git
[submodule "java-reference-counter"]
	path = java-reference-counter
	url = https://github.com/SimiaCryptus/java-reference-counter.git
[submodule "util/java-utilities"]
	path = util/java-utilities
	url = https://github.com/SimiaCryptus/java-utilities.git
[submodule "util/literate-reporting"]
	path = util/literate-reporting
	url = https://github.com/SimiaCryptus/literate-reporting.git
[submodule "util/tensorflow-model"]
	path = util/tensorflow-model
	url = https://github.com/SimiaCryptus/tensorflow-model.git
[submodule "util/java-analysis"]
	path = util/java-analysis
	url = https://github.com/SimiaCryptus/JavaAnalysis.git
[submodule "deepartist/mindseye-art"]
	path = deepartist/mindseye-art
	url = https://github.com/SimiaCryptus/mindseye-art.git
[submodule "util/hadoop-jgit-fs"]
	path = util/hadoop-jgit-fs
	url = https://github.com/SimiaCryptus/hadoop-jgit-fs.git
[submodule "mindseye/mindseye-research"]
	path = mindseye/mindseye-research
	url = https://github.com/SimiaCryptus/mindseye-research.git
[submodule "util/sparkbook"]
	path = util/sparkbook
	url = https://github.com/SimiaCryptus/sparkbook.git
[submodule "misc/CharacterTrie"]
	path = misc/CharacterTrie
	url = https://github.com/SimiaCryptus/CharacterTrie.git
[submodule "misc/tf-gpt-2"]
	path = misc/tf-gpt-2
	url = https://github.com/SimiaCryptus/tf-gpt-2.git
[submodule "misc/mindseye-labs"]
	path = misc/mindseye-labs
	url = https://github.com/SimiaCryptus/mindseye-labs.git
[submodule "misc/SparkTree"]
	path = misc/SparkTree
	url = https://github.com/SimiaCryptus/SparkTree.git
[submodule "misc/mindseye-text"]
	path = misc/mindseye-text
	url = https://github.com/SimiaCryptus/mindseye-text.git
[submodule "third-party/flexmark"]
	path = third-party/flexmark
	url = https://github.com/SimiaCryptus/flexmark-java.git
[submodule "deepartist/descent-animator"]
	path = deepartist/descent-animator
	url = https://github.com/SimiaCryptus/descent-animator.git
[submodule "third-party/aws-s3-maven"]
	path = third-party/aws-s3-maven
	url = https://github.com/SimiaCryptus/aws-s3-maven.git
[submodule "third-party/maven-site-plugin"]
	path = third-party/maven-site-plugin
	url = https://github.com/apache/maven-site-plugin.git
[submodule "third-party/maven-wagon"]
	path = third-party/maven-wagon
	url = https://github.com/apache/maven-wagon.git
