# https://github.com/takari/maven-wrapper#usage-without-binary-jar
*.gz
*.h5
*.hprof
*.json
*.pem
*.ppk
*.zip
./*.json
.idea/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
all-projects.iml
build.log
buildNumber.properties
dependency-reduced-pom.xml
key_48191.pem
logs/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
report/
reports/
target/
wikiart/
